@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --white: #F4FAFF;
  --black: #08090A;
  --blue: #7CC6FE;
  --purple: #8789C0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--white);
  font-family: "Poppins", sans-serif;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 15px;
  width: 100%;
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

header > div > img {
  width: 30px;
}

.buscador {
  padding: 8px 10px;
  border: 1px solid var(--blue);
  background-color: var(--white);
  border-radius: 10px;
}

.search-button {
  border: none;
  cursor: pointer;
}

.search-button > img {
  width: 20px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 15px;
}

main > img {
  border-radius: 10px;
  width: 20%;
  height: auto;
}

.no-results {
  color: var(--black);
  font-weight: bold;
}

footer {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--purple);
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: var(--white);
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    padding: 10px;
    gap: 10px;
  }

  header > div {
    gap: 10px;
    text-align: center;
  }
}